*
!cmds
!lisp
!cmds/*.sh
!lisp/*.lisp
!*.bashrc.*
!*.sh
!*.org
!*.el
!config
!.emacs
!.gitconfig
!.gitignore
!.profile*
!elisp
!elisp/*.el
!elisp/**
!*.conf
!Makefile
/config.el
/#.bashrc.global#
/.#.bashrc.global
!.p10k.zsh