[Unit]
Description=Restic Forget & Prune Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/dotfiles/backup-passwords.env
ExecStart=/usr/bin/restic -r s3:s3.us-east-005.backblazeb2.com/chodosh-backup-testing forget --keep-last 10 --prune
Nice=15
IOSchedulingClass=idle

[Install]
WantedBy=multi-user.target
